<p id="notice"><%= notice %></p>

<h1>Contacts</h1>

<table>
  <thead>
  <tr>
    <th>Description</th>
    <th>Number</th>
    <th>Email</th>
    <th>Link image</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @contacts.each do |contact| %>
    <tr>
      <td><%= contact.description %></td>
      <td><%= contact.number %></td>
      <td><%= contact.email %></td>

      <td>
        <% if contact.avatar_updated.present? %>
          <%= image_tag contact.avatar_updated, width: 50, height: 50 %>
        <% else %>
          <%= image_tag contact.avatar_url, width: 50, height: 50 %>
        <% end %>
      </td>

      <td><%= link_to 'Show', contact %></td>
      <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
      <td><%= link_to 'Destroy', contact, method: :delete, data: {confirm: 'Are you sure?'} %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contact', new_contact_path %>
