<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @contact.description %>
</p>

<p>
  <strong>Number:</strong>
  <%= @contact.number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact.email %>
</p>

<p>
  <% if @contact.avatar_updated.present? %>
    <%= image_tag @contact.avatar_updated, width: 50, height: 50 %>
  <% else %>
    <%= image_tag @contact.avatar_url, width: 50, height: 50 %>
  <% end %>
</p>
<%= form_for @contact, url: change_avatar_contact_path(@contact) do |f| %>
  <strong>Atualizar foto</strong>
  <%= f.file_field :avatar %>
  <%= f.submit "Enviar", class: "btn teal" %>
<% end %>
<br>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
