<%= form_with(model: music, local: true) do |form| %>
  <% if music.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(music.errors.count, "error") %> prohibited this music from being saved:</h2>

      <ul>
      <% music.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :artist %>
    <%= form.text_field :artist %>
  </div>

  <div class="field">
    <%= form.label :lyric %>
    <%= form.text_field :lyric %>
  </div>

<!--  <div class="field">-->
    <%#= form.label :url_image %>
    <%#= form.text_field :url_image %>
<!--  </div>-->

  <div class="field">
    <%= form.label :photo, "Foto" %>
    <%= form.cl_image_upload :photo  %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
