<!DOCTYPE html>
<html>
<head>
  <title>AdventistCamp</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script charset="UTF-8" src="//cdn.sendpulse.com/js/push/2085e9d1520bd1e817526d882b837451_1.js" async></script>

</head>

<body>

<%= yield %>

</body>
</html>
